<% flash.keys.each do |k| %>
    <% if k == "danger" %>
      <div class="alert alert-danger" role="alert">
    <% else %>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
    <% end %>
        <%= flash[k] %>
      </div>
  <% end %>